:root {
    --color1: rgb(20, 90, 2);
    --color2: rgba(0, 195, 255, 0.918);
    --color3: rgba(14, 0, 90, 0.918);
    --heading-font: "Arial";
    --body-font: "Arial";   
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--color3);
}
header, main, footer {
    width: 840px;
    margin: auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--color2)
}
nav, p, article {
    font-family: var(--body-font);
    margin: 16px;
    padding: 8px;
}
h1 {
    position: absolute;
    top: 220px;
    right: 20px;

    text-transform: uppercase;
}
h2 {
    clear: both;
    padding: 5px;
    background-color: var(--color3);
    color:white;
    text-align: center;
}
footer {
    text-align: center;
}

/*Class elements*/

.hero {
    position: relative;
    padding: 0 0 20px 0;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero article {
    position: absolute;
    bottom: 20px;
    padding: 50px 155px 50px 20px;
    text-align: justify;
    background-color: var(--color1);
    opacity: 80%;
    color: white;
}
.hero article img{
    position: absolute;
    z-index: 2;
    float: right;
    right: 40px;
    bottom: 0;
    width: 100px;
    margin: 20px 0 20px 20px;
}
.socialmedia img {
    height: 50px;
    margin: 0 20px 0 25px;
}
.socialmedia a {
    text-decoration: none;
}