*{
    font-family: arial;
    font-size: 18px;
}

nav{
    background-color: rgb(67, 124, 143);
    padding: 10px;
}
nav a{
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: rgb(67, 124, 143);
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 0px;
}
main{
    max-width: 840px;
}
aside{
    max-width: 840px;
    margin: 10px;
    border: 1 px solid black;
    padding: 2px;
    background-color: rgb(67, 124, 143);
    color: white;
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
}
aside p{
    padding: 0 10px 5px 10px;
}
footer{
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;
}