:root{
    --background-color: rgb(67, 124, 143);
    --border: 1px solid black;
}
*{
    font-family: arial;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: var(--background-color);
    padding: 10px;
}
nav a{
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: rgb(67, 124, 143);
}
main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p{
    padding: 0px;
}
main{
    max-width: 840px;
}
aside{
    max-width: 840px;
    background-color: var(--background-color);
    color: white;
    text-align: center;
    position: relative;
}
aside h2{
    position: absolute;
    top:15px;
    left: 320px;
}
aside img{
    width: 200px;
    height: auto;
}
aside p{
    padding: 0 10px 5px 10px;
}
footer{
    margin-top: 10px;
    border-top: var(--border);
    text-align: center;
}
/* Class selectors */

.box {
    margin: 1 rem;
    padding: 1 rem;
    border: var(--border);
}