.callout {
    max-width: 400px;
    margin: 10px;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 10px;
    background-color: rgb(53, 59, 139);
    color: white;
}

.callout img {
	float: right;
    margin: 0 0 10px 15px;
    border: 1px solid black;
    padding:3px;
    background-color: white;
    width: 100px;
    height: auto;
}

blockquote {
	margin: 0px;
}

cite {
	display: block;
    border-top: 1px solid white;
    padding-top: 10px;
    text-align: justify;
    font-size: 12px;  
}